@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');

body{
	@apply text-primary;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Jost', sans-serif;
}

.patternBg{
	position: relative;
}
.patternBg:before{
	content:  '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background-image: url('/img/bg.png');
	background-repeat: repeat;
	opacity: .3;
}