<template>
	<div class="block md:flex md:items-stretch servicesCards">
		<Service v-for="service in services"
			:title="service.title"
			:bgimg="service.bgimg"
			:description="service.description"
			:route="service.route"
			:path="service.path" />
	</div>
</template>

<script>
import Service from '@/Components/Website/CoverService'
export default {

  name: 'CoverServices',
  components: {Service},
  data () {
    return {
    	services: [
    		// {
    		// 	path: 'consulting-services',
    		// 	title: 'Consulting <br /> Services',
    		// 	bgimg: '/img/sean-pollock-PhYq704ffdA-unsplash.jpg',
    		// 	description: `
    		// 		<p>
    		// 			The most effective security programs are those that are based on preventive strategies and infrastructures, rather than waiting for the problem to occur and then taking corrective measures.
    		// 		</p>
    		// 	`
    		// },
    		{
    			path: 'private-transportation-for-executives-and-key-personnel',
    			title: 'PRIVATE TRANSPORTATION FOR EXECUTIVES AND KEY PERSONNEL',
    			bgimg: '/img/private-transportation.jpeg',
    			description: `
    				<p>IT IS MORE THAN A CAR SERVICE</p>
    			`
    		},
    	]
    }
  }
}
</script>

<style lang="css" scoped>
	.servicesCards{
		height: calc(100vh - 250px);
	}
	@media screen and (max-width: 640px){
		.servicesCards{
			height: auto;
		}	
	}
</style>