<template>
	<div class="w-full p-10 md:p-24 h-auto md:h-full bg-gray-200 flex flex-col items-center bgImg" :style="{backgroundImage: 'url('+ bgimg +')'}">
		<div class="bgImgContent mt-auto">
			<div class="w-2/3 mx-auto flex flex-col items-center justify-center">
				<h1 class="text-2xl md:text-5xl font-bold mb-7 text-white text-center leading-relaxed" 
					v-html="title" />
				<div v-html="description" class="mb-7 text-base md:text-lg text-white text-center text-opacity-75" />
				<Button type="button" @click.prevent="visitPage">
					Read more
				</Button>
			</div>
		</div>
	</div>
</template>

<script>
import Button from '@/Components/Button'
export default {

  name: 'CoverService',
  props: {
  	title: {
  		default: 'Title here...'
  	},
  	description: {
  		default: 'Description here...'
  	},
  	bgimg: {
  		default: 'http://placehold.it/900x900'
  	},
  	path: {
  		default: '/'
  	}
  },
  components: {Button},
  data () {
    return {

    }
  },
  methods: {
  	visitPage(){
  		const t = this;
  		console.log(t.path);
  		t.$inertia.visit(route('service', t.path));
  	}
  }
}
</script>

<style lang="css" scoped>
	.bgImg{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	.bgImg:before{
		content: '';
		position: absolute;
		z-index: 1;
		background-color: rgba(0,0,0,.6);
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
	.bgImg .bgImgContent{
		position: relative;
		z-index: 2;
	}
</style>