<template>
	<section class="bg-primary p-10 md:py-24 patternBg">
		<div class="mx-auto w-full md:w-2/4 relative z-10">
			<form action="" @submit.prevent="submitForm">



				<div v-if="$page.props.errors.requestForm" class="flex flex-col space-y-4 mb-7 items-center">
					<p v-for="error in $page.props.errors.requestForm" 
						v-text="error"
						class="text-red-400 font-bold"></p>
				</div>

				<h1 class="text-white text-3xl text-center mb-7 uppercase font-bold">Request Form</h1>
				<p class="text-white text-xl text-center mb-7">
					Please fill the fields bellow to request our executive private transportation services
				</p>
				<div class="mb-4">
					<Label value="Full name:" style="color: #fff;" />
					<Input type="text" v-model="fullname" class="w-full" required />
				</div>
				<div class="flex items-center mb-4 space-x-5">
					<div class="w-1/2">
						<Label value="E-mail:" style="color: #fff;" />
						<Input type="email" v-model="email" class="w-full" placeholder="username@company.com" required />
					</div>
					<div class="w-1/2">
						<Label value="Phone (optional):" style="color: #fff;" />
						<Input type="text" v-model="phone" class="w-full" placeholder="(000) 000-0000" />
					</div>
				</div>
				<div class="mb-4">
					<Label value="Area(s) of operation where service is needed." style="color: #fff" />
					<Input type="text" v-model="areas_of_operation" class="w-full" required />
				</div>
				<div class="mb-4">
					<Label value="How many principles (clients) are we responsible for?" style="color: #fff" />
					<Input type="number" v-model="principles_number" class="w-full" required  />
				</div>
				<div class="mb-4">
					<Label value="Date for this service?" style="color: #fff" />
					<Input type="date" v-model="date" class="w-full" required  />
				</div>
				<div class="mb-7">
					<Label value="Do principles have any medical conditions that we should be aware of? (optional)" style="color: #fff" />
					<Input type="text" v-model="medical_conditions" class="w-full"  />
				</div>
				<div class="flex items-start space-x-3">
					<Checkbox v-model="armored_vehicle" class="relative top-1" id="principlesNumber" />
					<div>
						<Label value="Do you need an armored vehicle?" style="color: #fff" for="principlesNumber" />
						<span class="block text-sm font-bold text-green-300 text-opacity-50 mb-2">Note: in some locations this is not an option.</span>
					</div>
				</div>

				<div class="flex items-center mt-7 space-x-7">
					<Button type="submit" class="whitespace-nowrap" :disabled="sendingForm">
						<span v-if="sendingForm" class="flex items-center space-x-2">
							<i class="fa fa-spin fa-spinner fa-lg"></i>
							<span>Sending request...</span>
						</span>
						<span v-else>Submit Request!</span>
					</Button>

					<div v-if="$page.props.flash.requestSuccess">
						<p class="flex space-x-3">
							<i class="fa fa-check fa-lg mr-2 text-secondary"></i>
							<span class="text-white font-bold">
								{{ $page.props.flash.requestSuccess }}
							</span>
						</p>
					</div>
				</div>
			</form>
		</div>
	</section>
</template>
<script>
import Label from '@/Components/Label';
import Input from '@/Components/Input';
import Button from '@/Components/Button';
import Checkbox from '@/Components/Checkbox';

export default {
  name: 'DriverRequestForm',
  components: {Input, Label, Button, Checkbox},
  data () {
    return {
    	fullname: '',
    	email: '',
    	phone: '',
    	areas_of_operation: '',
    	principles_number: '',
    	armoded_vehicle: false,
    	date: '',
    	medical_conditions: '',
    	sendingForm: false
    }
  },
  methods: {
  	async submitForm(){
  		const t = this;
  		const formData = {
  			fullname: t.fullname,
  			email: t.email,
  			phone: t.phone,
  			areas_of_operation: t.areas_of_operation,
  			principles_number: t.principles_number,
  			armoded_vehicle: t.armoded_vehicle,
  			date: t.date,
  			medical_conditions: t.medical_conditions
  		}
  		t.sendingForm = true;
  		const response = await t.$inertia.post(route('driver-request-form'), formData, {
  			preserveScroll: true,
  			errorBag: 'requestForm',
  			onSuccess: () => {
  				t.resetData();
  				t.sendingForm = false;
  			}
  		});
  	},
  	resetData(){
  		this.fullname = '';
  		this.email = '';
  		this.phone = '';
  		this.areas_of_operation = '';
  		this.principles_number = '';
  		this.principles_number = '';
  		this.date = '';
  		this.medical_conditions = '';
  		this.armoded_vehicle = false;
  	}
  }
}
</script>
<style lang="css" scoped>
</style>