<template>
	<footer class="bg-dark p-10 md:py-24 text-white">
		<div class="mx-auto w-full md:w-10/12 flex flex-col md:flex-row items-start space-x-0 md:space-x-10 space-y-7 md:space-y-0">
      <div class="w-full md:w-1/3">
        <div>
          <img src="/img/logo.png" class="h-20 w-auto" alt="">
        </div>
        <p class="font-bold text-lg mt-7">
          Executive Transportation Specialists
        </p>
        <p class="mt-7 mb-4">
          <i class="fa fa-mobile-alt fa-sm mr-2 text-secondary fa-fw"></i>
          1 (800) 819-3950
        </p>
        <p>
          <i class="fa fa-envelope fa-sm mr-2 text-secondary fa-fw"></i>
          info@proteusglobal.us
        </p>
      </div>  
      <div class="w-full md:w-1/3">
        <h4 class="text-3xl font-bold border-b-2 border-white pb-4 mb-7">Our company</h4>
        <nav class="flex flex-col space-y-3">
          <Link :href="route('home')" class="hover:text-secondary">Home</Link>
          <Link :href="route('about-us')" class="hover:text-secondary">About us</Link>
        </nav>
      </div>
      <div class="w-full md:w-1/3">
        <h4 class="text-3xl font-bold border-b-2 border-white pb-4 mb-7">Our services</h4>
        <nav class="flex flex-col space-y-3">
          <!-- <Link :href="route('service', 'consulting-services')" class="hover:text-secondary">Consulting Services</Link> -->
          <Link :href="route('service', 'private-transportation-for-executives-and-key-personnel')" class="hover:text-secondary">Private transportation for executives</Link>
        </nav>
      </div>
    </div>
	</footer>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'
export default {

  name: 'Footer',
  components: {Link},
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>