<template>
  <div class="bg-secondary text-white py-1 md:py-2">
    <div class="mx-auto w-10/12 flex flex-col md:flex-row items-center">
      <a href="#" class="text-sm hidden md:block">
        <i class="fa fa-envelope fa-sm mr-2 text-white text-opacity-50"></i>
        info@proteusglobal.us
      </a>
      <p class="font-bold mx-auto text-sm text-center">Executive Transportation Specialists</p>
      <p class="text-sm">
        <i class="fa fa-mobile-alt fa-sm mr-2 text-white text-opacity-50 fa-fw"></i>
        1 (800) 819-3950
      </p>
      <a href="#" class="text-sm block md:hidden">
        <i class="fa fa-envelope fa-sm mr-2 text-white text-opacity-50"></i>
        info@proteusglobal.us
      </a>
    </div>
  </div>
	<header class="py-4 relative bg-white shadow-lg top-0 left-0 right-0 z-20 websiteHeader">
		<div class="mx-auto w-10/12 flex items-center space-x-0 md:space-x-10">
      <nav class="items-center space-x-7 flex-1 justify-end hidden md:flex">
        <Link :href="route('home')" class="hover:text-secondary">Home</Link>
        <Link :href="route('about-us')" class="hover:text-secondary">About us</Link>
      </nav>
      <div class="flex-1 flex justify-start md:justify-center">
        <Link :href="route('home')">
          <img src="/img/logo.png" class="logo" alt="">
        </Link>
      </div>
      <nav class="flex items-center space-x-7 flex-1 justify-start hidden md:flex">
        <Link :href="route('home')" class="hover:text-secondary">Services</Link>
        <Link :href="route('contact')" class="hover:text-secondary">Contact us</Link>
      </nav>
      <Mobile-Nav-Button />
    </div>
	</header>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'
import MobileNavButton from '@/Components/Website/MobileNavButton' 
export default {

  name: 'Header',
  components: {Link, MobileNavButton},
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
  .logo{
    height: 60px;
    width: auto;
  }
  nav a{
    font-weight: bold;
    text-transform: uppercase;
  }
</style>