<template>
	<a href="#" class="ml-auto block md:hidden" @click.prevent="toggleMenu">
	  <i class="fa fa-bars fa-2x text-primary"></i>
	</a>
	<div class="sidebarMenu bg-white shadow-lg fixed top-0 right-0 bottom-0 p-10" :class="displayMenu ? 'active' : ''">
		<a href="#" @click.prevent="toggleMenu">
			<i class="fa fa-times fa-sm mr-2"></i>
			Close
		</a>

		<nav class="flex flex-col space-y-4 text-lg text-primary mt-10 font-bold uppercase">
			<Link :href="route('home')" @click="toggleMenu" class="hover:text-secondary">Home</Link>
			<Link :href="route('about-us')" @click="toggleMenu" class="hover:text-secondary">About us</Link>
			<Link :href="route('home')" @click="toggleMenu" class="hover:text-secondary">Services</Link>
			<Link :href="route('contact')" @click="toggleMenu" class="hover:text-secondary">Contact us</Link>
		</nav>
	</div>
</template>

<script>

import { Link } from '@inertiajs/inertia-vue3'	

export default {

  name: 'MobileNavButton',
  components: {Link},
  data () {
    return {
    	displayMenu: false
    }
  },

  methods: {
  	toggleMenu(){
  		const t = this;
  		t.displayMenu = !t.displayMenu;
  	}
  }
}
</script>

<style lang="css" scoped>
	.sidebarMenu{
		width: 80vw;
		transition: all .35s ease;
		transform: translateX(85vw);
		z-index: 100;
	}
	.sidebarMenu.active{
		transform: translateX(0);
	}
</style>