<template>
	<section class="bg-primary text-white p-10 md:py-24 patternBg">
		<div class="mx-auto w-full md:w-2/4 relative z-10">
			<h2 class="text-2xl md:text-5xl mb-10 font-bold text-center">
				Never miss an update
			</h2>
			<p class="mb-7 text-white text-lg text-opacity-75 text-center">
				Please fill the fields bellow to sign up.
			</p>


			<div v-if="$page.props.flash.suscriptorSuccess">
				<p class="flex flex-col items-center space-y-5 mb-7">
					<i class="fa fa-check fa-2x text-secondary"></i>
					<span class="text-white font-bold">
						{{ $page.props.flash.suscriptorSuccess }}
					</span>
				</p>
			</div>

			<div v-if="$page.props.errors.suscriptionErrors" class="flex flex-col space-y-4 mb-7 items-center">
				<p v-for="error in $page.props.errors.suscriptionErrors" 
					v-text="error"
					class="text-red-400 font-bold"></p>
			</div>


			<form action="" class="flex flex-col md:flex-row items-center md:items-end space-x-0 md:space-x-5 space-y-7 md:space-y-0" @submit.prevent="submitForm">
				<div class="w-full md:w-1/2">
					<Label value="Name:" class="mb-2 text-secondary" />
					<Input type="text" placeholder="Enter your full name" v-model="name" class="w-full text-secondary" required />
				</div>

				<div class="w-full md:w-1/2">
					<Label value="Your e-mail:" class="mb-2 text-secondary"/>
					<Input type="email" placeholder="username@domain.com" v-model="email" class="w-full text-secondary" required />
				</div>

				<Button type="submit" class="whitespace-nowrap flex-1 text-center" :disabled="submiting">Sign me up!</Button>
			</form>
		</div>
	</section>
</template>

<script>
import Input from '@/Components/Input'
import Label from '@/Components/Label'
import Button from '@/Components/Button'
export default {

  name: 'RegisterForm',
  components: {Input, Label, Button},
  data () {
    return {
    	name: '',
    	email: '',
    	submiting: false
    }
  },
  methods: {
  	async submitForm(){
  		const t = this;
  		t.submiting = true;
  		const route = '/suscribe-user-form';
  		const formData = {
  			name: t.name,
  			email: t.email
  		}
  		const {data} = await t.$inertia.post(
  			route, 
  			formData, {
  				preserveScroll: true,
  				errorBag: 'suscriptionErrors',
  				onSuccess: () => {
  					t.name = '';
  					t.email = '';
  				}
  			});
  		t.submiting = false;
  	}
  }
}
</script>

<style lang="css" scoped>
</style>