<template>
	<section class="py-10 md:py-24 bg-cover bg-no-repeat bg-center relative" 
		:style="{backgroundImage: 'url(/img/sean-pollock-PhYq704ffdA-unsplash.jpg)'}">
		<div class="bg-gray-900 opacity-75 absolute top-0 left-0 right-0 bottom-0 z-10"></div>
		<div class="mx-auto w-10/12 relative z-20 text-center">
			<div class="w-full md:w-2/3 mx-auto">
				<h1 class="text-2xl md:text-5xl text-white font-bold mb-10 uppercase">About Us</h1>
				<div class="font-bold text-white text-lg opacity-75 uppercase mb-7">
					PROTEUS CONSULTING YOUR SOURCE FOR SAFE AND EFFECTIVE TRANSPORTATION.
				</div>
				<div class="font-bold text-white text-lg opacity-75 uppercase">
					WE ARE A COMPANY WITH EXTENSIVE EXPERIENCE IN TRANSPORTING OUR CLIENTS INTO MEXICO FOR BUSINESS AND FOR LEISURE.
				</div>
			</div>
		</div>
	</section>
</template>
<script>
import GuestLayout from '@/Layouts/Guest'
export default {
  name: 'About',
  layout: GuestLayout,
  data () {
    return {
    }
  }
}
</script>
<style lang="css" scoped>
</style>