<template>
	<section class="py-10">
		
		<div class="mx-auto w-10/12 relative">
			<div class="w-full md:w-1/2 mx-auto">
				
				<div class="bg-gray-100 shadow-lg p-4 md:p-7 rounded">


					<div v-if="$page.props.flash.message" class="text-green-600 font-bold mb-5">
						{{ $page.props.flash.message }}
					</div>


					<form action="" @submit.prevent="submitForm">
						<h3 class="text-2xl font-bold mb-7">
							Fill in the fields below to contact us
						</h3>
						<div class="mb-4">
							<Label value="Full name:"></Label>
							<Input type="text" v-model="fullName" class="w-full" required></Input>
						</div>

						<div class="mb-4">
							<Label value="E-mail:"></Label>
							<Input type="email" v-model="email" class="w-full" required></Input>
						</div>

						<div class="block md:flex items-center mb-4 space-x-0 md:space-x-4">
							<div class="flex-1 mb-4 md:mb-0">
								<Label value="Company (optional):"></Label>
								<Input type="text" v-model="company" class="w-full"></Input>
							</div>
							<div class="flex-1">
								<Label value="Phone (optional):"></Label>
								<Input type="text" v-model="phone" class="w-full"></Input>
							</div>
						</div>

						<div class="mb-4">
							<Label value="Subject:"></Label>
							<Input type="text" v-model="subject" class="w-full" required></Input>
						</div>

						<div class="mb-4">
							<Label value="Message:"></Label>
							<Input type="text" v-model="message" class="w-full" required></Input>
						</div>

						<Button type="submit">
							Send message
						</Button>
					</form>
				</div>

			</div>
		</div>

	</section>
</template>

<script>
import GuestLayout from '@/Layouts/Guest'
import Label from '@/Components/Label'
import Input from '@/Components/Input'
import Button from '@/Components/Button'
export default {

  name: 'Contact',
  layout: GuestLayout,
  components: {Label, Input, Button},
  data () {
    return {
    	fullName: '',
    	email: '',
    	company: '',
    	phone: '',
    	subject: '',
    	message: ''
    }
  },
  methods: {
  	submitForm(){
  		let t = this;
  		let data = {

  			fullName: t.fullName,
  			email: t.email,
  			company: t.company,
  			phone: t.phone,
  			subject: t.subject,
  			message: t.message,

  		}
  		t.$inertia.post(route('submit-contact'), data);
  	}
  }
}
</script>

<style lang="css" scoped>
</style>