<template>
	<Services />
	<!-- <Register-Form /> -->
  <Driver-Request-Form />
</template>

<script>
import GuestLayout from '@/Layouts/Guest'
import Services from '@/Components/Website/CoverServices'
// import RegisterForm from '@/Components/Website/RegisterForm'
import DriverRequestForm from '@/Components/Website/DriverRequestForm'
export default {

  name: 'Index',
  layout: GuestLayout,
  components: {Services, DriverRequestForm},
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
	
</style>