<template>
	<section class="py-10 md:py-24 bg-cover bg-no-repeat bg-center relative" 
		:style="{backgroundImage: 'url('+service.bgimg+')'}">
		<div class="bg-gray-900 opacity-75 absolute top-0 left-0 right-0 bottom-0 z-10"></div>
		<div class="mx-auto w-10/12 relative z-20 text-center">
			<div class="w-full md:w-2/3 mx-auto">
				<h1 class="text-2xl md:text-5xl text-white font-bold mb-10" v-text="service.title"></h1>
				<div v-html="service.description" class="font-bold text-white text-lg opacity-75"></div>
				<div v-if="service.body">
					<hr class="my-10 border-0 border-b-2 border-white">
					<div v-html="service.body" class="text-white"></div>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
import GuestLayout from '@/Layouts/Guest'
export default {

  name: 'Service',
  layout: GuestLayout,
  props: ['service'],
  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>