<template>
    <Header />
    <slot />
    <Footer />
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'
import Header from '@/Components/Website/Header.vue'
import Footer from '@/Components/Website/Footer.vue'
export default {
    components: {
        Link,
        Header,
        Footer
    }
}
</script>
